<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>servlets.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>servlets.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MasterServlet</servlet-name>
    <servlet-class>servlets.MasterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitReimbursement</display-name>
    <servlet-name>submitReimbursement</servlet-name>
    <servlet-class>servlets.submitReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitReimbursement</servlet-name>
    <url-pattern>/submitReimbursement</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewInformation</display-name>
    <servlet-name>viewInformation</servlet-name>
    <servlet-class>servlets.viewInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewInformation</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResolvedReimbursementsServlet</display-name>
    <servlet-name>ResolvedReimbursementsServlet</servlet-name>
    <servlet-class>servlets.ResolvedReimbursementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedReimbursementsServlet</servlet-name>
    <url-pattern>/resolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingReimbursementServlet</display-name>
    <servlet-name>PendingReimbursementServlet</servlet-name>
    <servlet-class>servlets.PendingReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingReimbursementServlet</servlet-name>
    <url-pattern>/pending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInformation</display-name>
    <servlet-name>UpdateInformation</servlet-name>
    <servlet-class>servlets.UpdateInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInformation</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>servlets.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingServlet</display-name>
    <servlet-name>ViewPendingServlet</servlet-name>
    <servlet-class>servlets.ViewPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingServlet</servlet-name>
    <url-pattern>/mpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewResolvedServlet</display-name>
    <servlet-name>ViewResolvedServlet</servlet-name>
    <servlet-class>servlets.ViewResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewResolvedServlet</servlet-name>
    <url-pattern>/mresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeServlet</display-name>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <servlet-class>servlets.ViewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <url-pattern>/all</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSingle</display-name>
    <servlet-name>ViewSingle</servlet-name>
    <servlet-class>servlets.ViewSingle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSingle</servlet-name>
    <url-pattern>/single</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterServlet</display-name>
    <servlet-name>AlterServlet</servlet-name>
    <servlet-class>servlets.AlterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterServlet</servlet-name>
    <url-pattern>/alter</url-pattern>
  </servlet-mapping>
</web-app>