<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Manager</title>
<link rel="stylesheet" href="styles/project1.css">

</head>
<body>
	
	<button type="button" id="viewPending" name="viewPending"
		onclick="sendAjax('mpending', viewReimbursements);">View
		Pending Reimbursements</button>
	<button type="button" id="viewResolved" name="viewResolved"
		onclick="sendAjax('mresolved', viewReimbursements);">View
		Resolved Reimbursements</button>
	<button type="button" id="viewEmployees" name="viewEmployees"
		onclick="sendAjax('all', viewEmployees);">View All Employees</button>
	<br><br>
	<label for="singleEmp">Employee Id:</label>
	<input type="text" class="form-control" id="singleEmp" name="singleEmp">
	<button type="submit" id="single" name="single"
		onclick="viewSingle('single', viewReimbursements)">View
		Reimbursements of Employee</button>
	<br><br>
	<form action="alter" method="post">
		<label for="requestId">Request Id:</label> <input type="text"
			class="form-control" id="requestId" name="requestId"> <label
			for="approve">(A)pprove or (D)eny:</label> <input type="text"
			class="form-control" id="approve" name="approve">
		<button type="submit" class="btn btn-default" id="alter" name="alter">Submit</button>
	</form>
	<br>
	<form action="register" method="post">
		<label for="empFirst">Employee First:</label> <input type="text"
			class="form-control" id="empFirst" name="empFirst"> <label
			for="empLast">Employee Last:</label> <input type="text"
			class="form-control" id="empLast" name="empLast"> <label
			for="empEmail">Employee Email:</label> <input type="text"
			class="form-control" id="empEmail" name="empEmail"> <br><label
			for="empUsername">Employee Username:</label> <input type="text"
			class="form-control" id="empUsername" name="empUsername"> <label
			for="empPassword">Employee Password:</label> <input type="password"
			class="form-control" id="empPassword" name="empPassword"> <label
			for="isManager">Is Manager:</label> <input type="text"
			class="form-control" id="isManager" name="isManager">
		<button type="submit" class="btn btn-default" id="register"
			name="register">Register</button>
	</form>
	<br><br>
	<form action="logout">
		<button type="submit" class="btn btn-default" id="logout">Logout</button>
	</form>

</body>
<script src="scripts/manager.js">
	
</script>
</html>