h1 {
	text-align: center;
}

html {
	background-color: black;
	
}

h1, h2, h3, a, label, p, li, div{
	color:blue;
}

.nav {
	padding: 5px;
	margin: 5px;
}
.carousel {
	width:360px;
	height:360px;
	margin:auto;
	margin-top: 25px;
  }
.formlabel {
	display: inline-block;
	width: 80px;
	margin: 5px;
}

textarea {
	width: 235px;
	margin: 5px;
}

button {
	margin-left: 100px;
}
